<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>ELIDEK</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
<body class="bg-dark">
    <div class="container bg-dark">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom bg-dark">
          <a href="{{url_for('home')}}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="60"><use xlink:href="#bootstrap"></use></svg>
            <span class="fs-4" style="color:#ffffff">ELIDEK</span>
          </a>
          <ul class="nav nav-pills bg-dark">
            <li class="nav-item"><a href="{{url_for('home')}}" class="nav-link" style="color:#2dc50e">Home</a></li>
            <li class="nav-item"><a href="{{url_for('explore')}}" class="nav-link" style="color:#2dc50e">Explore</a></li>
            <li class="nav-item"><a href="{{url_for('update')}}" class="nav-link" style="color:#2dc50e">Update</a></li>
          </ul>
        </header>
        <div>
            <form action="{{url_for('insert_project')}}" method="POST" style="color:#ffffff">
              <fieldset>
                <legend>Create New Project</legend>
                <label for="project_title">Project title:</label>
                <input type="text" id="project_title" name="project_title"><br><br>
                <label for="abstract"> Abstract:</label>
                <input type="text" id="abstract" name="abstract"><br><br>
                <label for="funding">Funding (Between 100,000 and 1,000,000):</label>
                <input type="number" id="funding" name="funding"><br><br>
                <label for="start_date">Start Date:</label>
                <input type="date" id="start_date" name="start_date"><br><br>
                <label for="end_date">End Date:</label>
                <input type="date" id="end_date" name="end_date"><br><br>
                <label for="organisation_name">Organisation Name:</label>
                <input type="text" id="organisation_name" name="organisation_name"><br><br>
                <label for="executive_name">Executive Name:</label>
                <input type="text" id="executive_name" name="executive_name"><br><br>
                <label for="responsible_researcher_name">Overseeing Researcher's Name:</label>
                <input type="text" id="responsible_researcher_name" name="responsible_researcher_name"><br><br>
                <label for="responsible_researcher_surname">Overseeing Researcher's Surname:</label>
                <input type="text" id="responsible_researcher_surname" name="responsible_researcher_surname"><br><br>
                <label for="program_name">Program Name:</label>
                <input type="text" id="program_name" name="program_name"><br><br>
                <label for="evaluation_grade">Evaluation Grade(Between 0 and 100):</label>
                <input type="number" id="evaluation_grade" name="evaluation_grade"><br><br>
                <label for="evaluation_date">Evaluation Date:</label>
                <input type="date" id="evaluation_date" name="evaluation_date"><br><br>
                <label for="evaluating_researcher_name">Evaluating Researcher Name:</label>
                <input type="text" id="evaluating_researcher_name" name="evaluating_researcher_name"><br><br>
                <label for="evaluating_researcher_surname">Evaluating Researcher Surname:</label>
                <input type="text" id="evaluating_researcher_surname" name="evaluating_researcher_surname"><br><br>
                <legend>Add a Scientific Field to a New (or Already Existing) Project</legend>
                <label for="scientific_field">Scientific Field:</label>
                <input type="text" id="scientific_field" name="scientific_field"><br><br>
                <legend>Add a Deliverable to a New (or Already Existing) Project</legend>
                <label for="deliverable_title">Deliverable Title:</label>
                <input type="text" id="deliverable_title" name="deliverable_title"><br><br>
                <label for="deliverable_abstract">Deliverable Abstract:</label>
                <input type="text" id="deliverable_abstract" name="deliverable_abstract"><br><br>
                <label for="deliverable_due_date">Deliverable Due Date:</label>
                <input type="date" id="deliverable_due_date" name="deliverable_due_date"><br><br>
                <input type="submit" value="Submit">
            </fieldset>
            </form>
            <h5 style="color:#ffffff">{{message}}</h5>
            </div>
  </body>
</html>
