<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>ELIDEK</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
<body class="bg-dark">
    <div class="container bg-dark">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom bg-dark">
          <a href="{{url_for('home')}}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="60"><use xlink:href="#bootstrap"></use></svg>
            <span class="fs-4" style="color:#ffffff">ELIDEK</span>
          </a>
          <ul class="nav nav-pills bg-dark">
            <li class="nav-item"><a href="{{url_for('home')}}" class="nav-link" style="color:#2dc50e">Home</a></li>
            <li class="nav-item"><a href="{{url_for('explore')}}" class="nav-link" style="color:#2dc50e">Explore</a></li>
            <li class="nav-item"><a href="{{url_for('update')}}" class="nav-link" style="color:#2dc50e">Update</a></li>
          </ul>
        </header>
        <div>
            <form action="{{url_for('delete_project')}}" method="POST" style="color:#ffffff">
              <fieldset>
                <legend>Delete Project:</legend>
                <label for="project_title">Project Title:</label>
                <input type="text" id="project_title" name="project_title"><br><br>
                <input type="submit" value="Submit">
            </fieldset>
            </form>
            <h5 style="color:#ffffff">{{message}}</h5>
            </div>
  </body>
</html>
